<%- include('./_partial/header', {
    type: "audio",
    title: "Audio File Samples - Download Example Audio Formats"
}); %>
<main>
    <ul>
    <% AUDIO.sort((a, b) => b.ctime - a.ctime).forEach(function(file, idx){ %>
        <%- include('./_partial/file-list', { file }); %>
    <% }); %>
    </ul>
</main>
<%- include('./_partial/footer', {}); %>