<footer class="footer">
  <div>
    <a href="https://jaywcjlove.github.io/filesamples/" target="_blank">GitHub Page</a> • 
    <a href="https://raw.githack.com/jaywcjlove/filesamples/main/docs/index.html" target="_blank">Githack</a>
  </div>
  <div>
    You can submit sample files <a href="https://github.com/jaywcjlove/filesamples" target="_blank">here</a>.<sup><%=GLOBAL.PACKAGE.version%></sup>
  </div>
  <div>
    Made by<a href="https://jaywcjlove.github.io/#/sponsor" target="_blank"> 小弟调调™ </a>with<span class="heart"> ❤</span></span>
  </div>
  <time datetime="<%=NOW_DATE.toLocaleDateString()%>">Last updated on: <%=NOW_DATE.toLocaleDateString()%></time>
</footer>
</body>
</html>